<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %></br>
  <strong>Experiance:</strong>
  <%= @physician.experiance %></br>
  <strong>Location:</strong>
  <%= @physician.location %></br>
  <strong>City:</strong>
  <%= @physician.city %></br>
  <strong>State:</strong>
  <%= @physician.state %></br>
</p>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
