<p id="notice"><%= notice %></p>

<h1>Listing Paitents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paitents.each do |paitent| %>
      <tr>
        <td><%= paitent.name %></td>
        <td><%= link_to 'Show', paitent %></td>
        <td><%= link_to 'Edit', edit_paitent_path(paitent) %></td>
        <td><%= link_to 'Destroy', paitent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paitent', new_paitent_path %>
